{% extends 'AppGrupo5/single.html' %}

{% load static %}

{% block cambios %}

    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/AppGrupo5/assets/css/main.css" />

    <title>ABOUT</title>
    
    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <article class="post">
            <header>
                <div class="title3">
                    <h2><a href="/AppGrupo5/single/">INSTRUMENTOS GP5</a></h2>
                    <p>tu blog de música</p>
                </div>
            </header>

             <h2>Instrumentos GP5</h2>

            </p>Es un espacio virutal donde los usuarios pueden encontrar informacion útil donde puedas compartir tus opiniones, gustos musciales,
             recomendar discos e instrumentos. <br>
             Instrumentos GP5 es un proyecto academico que tiene el fin de hacer llegar toda la informacion relacionada con lo musical a todos los aficionados, amateurs y profesionales.</p>
             <br>
             <br>
             <br>
            <h2>Sobre los creadores</h2>
            <div class="clearfix">
                <a href="https://www.linkedin.com/in/franco-de-nicola-217aaa107" class="image featured2"><img src="/static/AppGrupo5/imagenes/FrancoDeNicola.jpeg" alt="" /></a>
                <br>
                <h3> Franco De Nicola.</h3>
                    <p>  Mi nombre es Franco De Nicola. Me anote en CoderHouse para estudiar Python, y estoy aprendiendo HTML,CSS, y JavaScript por mi cuenta. Soy de Buenos Aires, tengo 23 años. Me anote en CoderHouse para empezar a desarollar una carrera en IT, eligiendo Python como primer lenguaje. Mi meta es desarrollarme en el area de Machine Learning. </p>
                <br>
                
            </div>
            <div class="clearfix">
                <a href="https://www.linkedin.com/in/ingpalmucci/" class="image featured2"><img src="/static/AppGrupo5/imagenes/FrancoPalmucci.jpeg" alt="" /></a>
                <br>
                <h3> Franco Palmucci.</h3>
                    <p>Mi nombre es Franco Palmucci, soy estudiante del curso de Python. Tengo 27 años y estoy residiendo en Córdoba. Soy oriundo de la Ciudad de Rafaela, provincia de Santa Fe. Empecé a estudiar Python para expandir mis conocimientos en programación. Es el primer lenguage que estoy aprendiendo y mi idea es seguir perfeccionandome en otros idiomas y también aprender Data Science. Soy Ingeniero Mecánico Aeronáutico y estoy trabajando en una empresa de software.. </p>
                <br>
                
            </div>

            <div class="clearfix">
                <a href="https://www.linkedin.com/in/ezequiel-seminara-67740651/" class="image featured2"><img src="/static/AppGrupo5/imagenes/EzequielSeminara.jpeg" alt="" /></a>
                <br>
                <h3> Ezequiel Seminara.</h3>
                    <p>Soy Ezequiel Seminara, soy de la Ciudad de Buenos Aires tengo 33 años y soy Lic. en RRHH orientado en People Analytics y Big Data.
                        Empecé a estudiar estudiar programación de forma autodidacta a mediados de pandemia explorando un poco en lo que es JavaScritp, HTML y CSS por hobby. Decidí anotarme en CoderHouse para aprender Python de manera formal porque me resulto un lenguaje muy poderoso y en un futuro me gustaría poder orientarme hacia Machine Learning. </p>
                <br>
                
            </div>


</head>
<body>
{% endblock cambios %}