<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Te has deslogueado correctamente</h1>

    <input type="submit" name="button" id="button" value="Volver al login"  onclick="location.href = '/AppGrupo5/login' ">
    <input type="submit" name="button" id="button" value="Volver a Inicio"  onclick="location.href = '/AppGrupo5/' ">
</body>
</html>